<footer class="site-footer">
<p>Copyright © <script>document.write(new Date().getFullYear());</script> Matt James.</p>
      <span class="socialLinks">
      <a href= "https://www.facebook.com/Matteblackmedia?ref=hl"><svg class="icon fa" viewBox="0 0 10 10" width="50", height="50">
  <use xlink:href="#icon-facebook2" />
</svg></a>
         <a href="https://twitter.com/mfrancisj"><svg class="icon tw" viewBox="0 0 10 10" width="50", height="50">
  <use xlink:href="#icon-twitter2" />
</svg></a>
           <a href="https://www.linkedin.com/in/matthewfjames"><svg class="icon li" viewBox="0 0 10 10" width="50", height="50">
  <use xlink:href="#icon-linkedin" />
</svg></a>
              <!--<svg class="icon gp" viewBox="0 0 10 10" width="50", height="50">
  <use xlink:href="#icon-google-plus2" />
</svg>-->
              <a href="https://github.com/mattJamesMedia?tab=repositories"><svg class="icon gh" viewBox="0 0 10 10" width="50", height="50">
  <use xlink:href="#icon-github4" />
                </svg></a>
               <!--<svg class="icon cp" viewBox="0 0 10 10" width="50", height="50">
  <use xlink:href="icon-codepen" />
</svg> -->
     </span>
  <!--<div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>-->

</footer>
<script src="{{ " /js/script.js " | prepend: site.baseurl }}"></script>
