<header class="site-header">

  <div class="wrapper__header">
    <a href="#" class="menu-icon header__navTrigger">
        MENU
      </a>
    <h1 id="site-heading" class="site-title"><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    <article class="description">
      An interactive media professional pushing pixels, capturing images and bending vectors.
    </article>
    <nav class="nav" id="nav">

      <div class="trigger">

        <ul class="nav__list">
          <li class="skip-link"><a href="#site-heading">Skip Content</a></li>
          {% for my_page in site.pages %} {% if my_page.title %}
          <li class="nav__list--item"><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
          {% endif %} {% endfor %}
        </ul>

      </div>
    </nav>

  </div>
  <svg class="down" viewBox="0 0 1024 1024" width="50" height="50">
    <path class="path1" d="M1024 512c0-282.77-229.23-512-512-512s-512 229.23-512 512 229.23 512 512 512 512-229.23 512-512zM96 512c0-229.75 186.25-416 416-416s416 186.25 416 416-186.25 416-416 416-416-186.25-416-416z"></path>
    <path class="path2" d="M317.256 354.744l-90.512 90.512 285.256 285.254 285.254-285.256-90.508-90.508-194.746 194.744z"></path>
  </svg>
</header>
<!--<nav class="nav" id="nav">
    <a href="#" class="header__navTrigger header__navTrigger--clicked">Menu</a>
    <ul class="nav__list">
      <li class="nav__list--item"><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
      <li class="nav__list--item"><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
      <li class="nav__list--item"><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
      <li class="nav__list--item"><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
      <li class="nav__list--item"><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
    </ul>
  </nav>-->