<header class="site-header site-header__single">



  <a href="#" class="menu-icon header__navTrigger">
        MENU
      </a>
  <h1 class="site-title site-title__single" href="{{ site.baseurl }}/">{{ site.title }}</h1>

  <nav class="nav" id="nav">

    <div class="trigger trigger__single">

      <ul class="nav__list">
        {% for my_page in site.pages %} {% if my_page.title %}
        <li class="nav__list--item"><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
        {% endif %} {% endfor %}
      </ul>

    </div>
  </nav>



</header>